<%= render 'base' %>
<div id="adminpanel_cooperations">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">

        <th>标题</th>
        <th>内容</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cooperations.each_with_index do |item,i| %>
        <tr class="<%= i.odd? ? "odd" : "even" %>">

          <td width="10%"><%= item.title %></td>
          <td width="80%"><%= item.desc %></td>

          <td width="10%"><%= l item.created_at.getlocal, :format => :short %></td>
          <td width="10%">
            <%= link_to '修改', edit_adminpanel_cooperation_path(item.id) %>&nbsp;&nbsp;
            <%= link_to image_tag("/images/wice_grid/delete.png", :style => "margin-bottom:-4px;border:0"), adminpanel_cooperation_path(item.id), :method => :delete, :confirm => '确定要删除吗?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @cooperations %>
</div>