<%= render 'base' %>
<div id="search">
  <%= form_tag search_adminpanel_merchants_path do%>
    <%=text_field_tag "search_key","搜索关键字"%>

    <%=submit_tag "搜索"%>
  <% end %>
</div>
<div id="adminpanel_merchants">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">

        <th>商家名称</th>
        <th>商家服务</th>
        <th>排序</th>
        <th>是否知名商家</th>
        <th>商家logo</th>
        <th>时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @merchants.each_with_index do |item,i| %>
        <tr class="<%= i.odd? ? "odd" : "even" %>">

          <td width="20%"><%= item.name %></td>
          <td width="20%"><%= item.service %></td>
          <td width="10%"><%= item.order_num %></td>
          <td width="10%"><%= item.is_known %></td>
          <td width="20%"><%= image_tag(item.merchantlogo_url) if item.merchantlogo? %></td>
          <td width="10%"><%= l item.created_at.getlocal, :format => :short %></td>
          <td width="20%">
            <%= link_to '修改', edit_adminpanel_merchant_path(item.id) %>&nbsp;&nbsp;
            <%= link_to '商品', adminpanel_merchant_products_path(item.id,:from=>"merchant") %>&nbsp;&nbsp;
            <%= link_to '类目', assign_top_cate_adminpanel_merchant_path(item.id) %>&nbsp;&nbsp;
            <%= link_to image_tag("/images/wice_grid/delete.png", :style => "margin-bottom:-4px;border:0"), adminpanel_merchant_path(item.id), :method => :delete, :confirm => '确定要删除吗?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @merchants %>
</div>