<% pagetitle("注册") %>
<div class="main">
  <%= devise_error_messages! %><br/>
  <h2>注册</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <p><%= f.label '用户名' %><br />
      <%= f.text_field :name %></p>

    <p><%= f.label :email %><br />
      <%= f.email_field :email %></p>

    <p><%= f.label '密码' %><br />
      <%= f.password_field :password %></p>

    <p><%= f.label '确认密码' %><br />
      <%= f.password_field :password_confirmation %></p>

    <p><%= f.submit "注册" %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>