<%= render 'base' %>
<div id="adminpanel_top_product" class="form">
<%= simple_form_for(@top_product,
  :url =>  adminpanel_top_product_path(@top_product.id) ) do |f| %>
  <%= render "/shared/error_messages", :target => @top_product %>

  <div class="inputs">
      <%= f.input :name %>

      <%= f.input :order_num %>
      <%= f.label :topicon,"大类图标" %><br/>
      <%= image_tag(@top_product.topicon_url) if @top_product.topicon? %><br/>

      <%= f.file_field :topicon %>

      <%= f.hidden_field :topicon_cache %><br/>
      <%= f.check_box :remove_topicon %>移除logo
  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%= link_to '返回', adminpanel_top_products_path %>
  </div>
<% end %>
</div>
