<%= render 'base' %>
<div id="adminpanel_top_product" class="form">
  
<%= simple_form_for(@top_product,:url =>  adminpanel_top_products_path) do |f| %>

  <%= render "/shared/error_messages", :target => @top_product %>

  <div class="inputs">
      <%= f.input :name %>
      <%= f.input :order_num %>
      <%= f.label :topicon,"大类图标" %><br/>
      <%= f.file_field :topicon %>

      <%= f.hidden_field :topicon_cache %>
  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%= link_to '返回', adminpanel_top_products_path %>
  </div>
<% end %>
</div>
