<%= render 'base' %>
<div id="adminpanel_tuangou_sites">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">
        <th>团购类别名称</th>
        <th>团购商城名称</th>
        <th>团购商城logo</th>
        <th>时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tuangou_sites.each_with_index do |item,i| %>
        <tr class="<%= i.odd? ? "odd" : "even" %>">
          <td width="20%"><%= item.tuangou_cate.name %></td>
          <td width="20%"><%= item.name %></td>
          <td width="20%"><%= image_tag(item.tuanlogo_url) if item.tuanlogo? %></td>
          <td width="20%"><%= l item.created_at.getlocal, :format => :short %></td>
          <td width="20%">
            <%= link_to '修改', edit_adminpanel_tuangou_cate_tuangou_site_path(@tuangou_cate_id,item.id) %>&nbsp;&nbsp;

            <%= link_to image_tag("/images/wice_grid/delete.png", :style => "margin-bottom:-4px;border:0"), adminpanel_tuangou_cate_tuangou_site_path(@tuangou_cate_id,item.id), :method => :delete, :confirm => '确定要删除吗?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @tuangou_sites %>
</div>