<%= render 'base' %>
<div id="search">
  <%= form_tag search_adminpanel_merchant_products_path(@merchant_id) do%>
    <%=text_field_tag "search_key","搜索关键字"%>

    <%=submit_tag "搜索"%>
  <% end %>
</div>
<div id="total" align="right">
  共<%=@products.count%>条记录
</div>
<div id="adminpanel_products">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">

        <th>商家名称</th>
        <th>商品名称</th>
        <th>时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each_with_index do |item,i| %>
        <tr class="<%= i.odd? ? "odd" : "even" %>">

          <td width="20%"><%= @merchant.name %></td>
          <td width="20%"><%= item.title %></td>

          <td width="20%"><%= l item.created_at.getlocal, :format => :short %></td>
          <td width="20%">

            <%= link_to '修改', edit_adminpanel_merchant_product_path(@merchant.id,item.id) %>&nbsp;&nbsp;
            <%= link_to image_tag("/images/wice_grid/delete.png", :style => "margin-bottom:-4px;border:0"), adminpanel_merchant_product_path(@merchant_id,item.id), :method => :delete, :confirm => '确定要删除吗?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @products %>
  <div id="total" align="right">
    共<%=@products.count%>条记录
  </div>
</div>