<%#= spaceless do %>
<div align="left"><h3>品牌名称：<%=@brand.name%>&nbsp;&nbsp;<%=link_to "<<返回品牌",adminpanel_brands_path%></h3></div>
<div class="tools">
  <a href="<%= adminpanel_brand_brand_types_path(@brand_id) %>" class="button small left<%= ' checked' if params[:action] == "index" %>">查看所有</a>
  <% if ["edit","update"].index(params[:action]) %>
  <a href="#" class="button small checked">编辑</a>
  <% end %>
  <a href="<%= new_adminpanel_brand_brand_type_path(@brand_id) %>" class="button small right<%= ' checked' if ["new","create"].index(params[:action]) %>">新建</a>
</div>
<%# end %>
