<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="易淘比购" />
    <meta name="keywords" content="易淘比购" />
    <title>后台管理系统-易淘比购</title>
    <%= stylesheet_link_tag "backend","wice_grid","adminpanel" %>
    <%= javascript_include_tag "application","wice_grid" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
    <script type="text/javascript">
      function filter_brand_type(brand_id){

        url="/adminpanel/brands/"+brand_id+"/brand_types/filter_brand_type"
        $("#product_brand_type").find('option').remove();
        $.getJSON(url,
        function( data ){
          for ( i = 0; i < data.length; i++ ) {

            Option = "<option value='"+ data[i]._id + "'>"+data[i].name+"</option>";
            $("#product_brand_type").append(Option);

          }

        }
      );
      }

      function filter_middle_product(top_product_id){

        url="/adminpanel/top_products/"+top_product_id+"/middle_products/filter_middle_product"
        $("#middle_product_top_product").find('option').remove();
        $.getJSON(url,
        function( data ){
          for ( i = 0; i < data.length; i++ ) {

            Option = "<option value='"+ data[i]._id + "'>"+data[i].name+"</option>";
            $("#middle_product_top_product").append(Option);

          }

        }
      );
      }


      function filter_end_product(top_product_id,middle_product_id){

        url="/adminpanel/top_products/"+top_product_id+"/middle_products/"+middle_product_id+"/end_products/filter_end_product"
        $("#product_end_product").find('option').remove();
        $.getJSON(url,
        function( data ){
          for ( i = 0; i < data.length; i++ ) {

            Option = "<option value='"+ data[i]._id + "'>"+data[i].name+"</option>";
            $("#product_end_product").append(Option);

          }

        }
      );

      }
      function check_end_cate()
      {
        selected_text = $("#product_end_product").find('option:selected').text();

        if (selected_text == "请选择")
        {
          alert("请选择三级类别");
          return false;
        }

        brand_selected_text = $("#product_brand").find('option:selected').text();

        if (brand_selected_text == "请选择")
        {
          alert("请选择品牌");
          return false;
        }
        return true;
      }
    </script>
<%#= javascript_tag "var AUTH_TOKEN #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  </head>
  <body>

    <div id="mid">
      <div id="header">
        <ul><li><img src="/images/top_17.gif" width="323" height="47" border="0" /></li></ul>
      </div>
      <div id="system"><img border="0" width="230" height="30" src="/images/system.gif"><%= link_to '返回前台', "/" %></div>
      <div id="list">
        <%if admin_signed_in?%>
          <div class="listleft">
            <ul>
              <%= render :partial => 'layouts/menu'  %>

            </ul>
          </div>
        <%end%>
        <div align="center">
          <% if flash[:notice] -%>
            <div id="notice"><font color="red"><%= flash[:notice] %></font></div>
          <% end -%>
          <% if flash[:alert] -%>
            <div id="error"><font color="red"><%= flash[:alert] %></font></div>
          <% end -%>
        </div>
        <div class="listright_content">
          <%= yield :layout%>
        </div>

      </div>
      <div class="clear"></div>
    </div>


  </body>
</html>
