<%= render 'base' %>
<div id="adminpanel_end_products">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">
        <th>大类名称</th>
        <th>二级分类名称</th>
        <th>三级分类名称</th>
        <th>时间</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @end_products.each_with_index do |item,i| %>
        <tr class="<%= i.odd? ? "odd" : "even" %>">
          <td width="20%"><%= @top_product.name %></td>
          <td width="20%"><%= @middle_product.name %></td>
          <td width="20%"><%= item.name %></td>
          <td width="20%"><%= item.order_num %></td>
          <td width="20%"><%= l item.created_at.getlocal, :format => :short %></td>
          <td width="20%">
            <%#= link_to 'ddd', filter_end_product_adminpanel_top_product_middle_product_end_products_path(@top_product_id,@middle_product.id)%>
            <%= link_to '修改', edit_adminpanel_top_product_middle_product_end_product_path(@top_product_id,@middle_product.id,item.id) %>&nbsp;&nbsp;
            <%= link_to image_tag("/images/wice_grid/delete.png", :style => "margin-bottom:-4px;border:0"), adminpanel_top_product_middle_product_end_product_path(@top_product_id,@middle_product_id,item.id), :method => :delete, :confirm => '确定要删除吗?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @end_products %>
</div>