<%#= render 'base' %>
<% pagetitle("建议疑问") %>
<div class="main">
  <h2>新增建议疑问</h2>
<div id="adminpanel_question_advice" class="form">

  <%= simple_form_for(@question_advice,:url =>  question_advices_path) do |f| %>

    <%= render "/shared/error_messages", :target => @question_advice %>

    <div class="inputs">
      <%= f.label :title,"建议疑问标题" %><br/>
      <%= f.text_field :title %><br/>

      <%= f.label :desc,"建议疑问内容" %><br/>
      <%= f.text_area :desc,:style=>"width:700px;" %><br/>



    </div>
    <div class="actions">
      <button type="submit">提交</button>
       <%#= link_to '返回', adminpanel_top_product_question_advices_path(@top_product_id) %>
    </div>
  <% end %>
</div>
</div>