<%#= spaceless do %>
<div align="left"><h3>大类名称：<%=@top_product.name%>&nbsp;&nbsp;二级分类名称：<%=@middle_product.name%>&nbsp;&nbsp;<%=link_to "<<返回二级分类",adminpanel_top_product_middle_products_path(@top_product_id)%></h3></div>
<div class="tools">
  <a href="<%= adminpanel_top_product_middle_product_end_products_path(@top_product_id,@middle_product_id) %>" class="button small left<%= ' checked' if params[:action] == "index" %>">查看所有</a>
  <% if ["edit","update"].index(params[:action]) %>
  <a href="#" class="button small checked">编辑</a>
  <% end %>
  <a href="<%= new_adminpanel_top_product_middle_product_end_product_path(@top_product_id,@middle_product_id) %>" class="button small right<%= ' checked' if ["new","create"].index(params[:action]) %>">新建</a>
</div>
<%# end %>
