<% pagetitle("#{@brand_type.name} - 商品搜索") %>
<div class="main">
  <div class="gmtitle">
    <h1>当前位置：所有分类 > <%=@end_product.name if @end_product%> > <%=@brand.name%> > <%=@brand_type.name%> </h1>
  </div>
  <div class="carousel">
    <dl>
      <dt>
        <%=image_tag(@brand_type.image_url, :size => "284x249")%></dt>
      <!--dd><img src="/images/gm_25.jpg" width="87" height="66" /></dd>
      <dd><img src="/images/gm_25.jpg" /></dd>
      <dd><img src="/images/gm_25.jpg" /></dd-->
    </dl>
  </div>
  <div class="carousel_y">
    <div class="line">
      <div class="line_left">
        <dl>
          <h1><%=@brand_type.name%></h1>

        </dl>
      </div>
      <div class="line_rigth"></div>
    </div>

    <ul>
      <li>价格区间:<strong class="gmblack"><%=@brand_type.low_price.to_s%></strong>~<strong class="gmblack"><%=@brand_type.high_price.to_s%>元 </strong>(<%=@brand_type.merchant_num%>个商家)</li>

      <li><strong>网上商城</strong><span class="blue"><a href="#">（共<%=@brand_type.merchant_num%>个商家）</a></span></li>


      <Li><strong>点评</strong><span class="blue">(共<%=@total_comments_count%>个点评)</span><img src="/images/gm_43.jpg" width="78" height="16" class="t" /><span class="g3"><%=@average_comments_score%>/满分5.0</span></Li>
      <li><p class="g3"><%=@total_comments[0].title if @total_comments[0] %> </p>
        <p class="g3"><%=raw(@total_comments[0].content) if @total_comments[0]%> </p>
      </li>
    </ul>
  </div>
</div>
<div class="gm_A">
  <ul>
    <li class="blue"><a href="#c1" target="_self">比价购物</a><a name="#c1" id="#c1"></a></li>
    <li><a href="#b22" target="_self">图文描述</a><a name="#b1" id="#b1"></a></li>
    <li><a href="#c33" target="_self">参 数</a><a name="c3" id="c3"></a></li>
    <li><a href="#dp3" target="_self">点 评</a><a name="dp0" id="dp0"></a></li>
    <li style="border:none;"><img src="/images/2Promotions_28.jpg" /><a href="#tt" target="_self">顶部</a><a name="0" id="0"></a></li>
  </ul>
</div>
<div class="gmB">
  <h1>相似价位产品</h1>
  <% if @similar_products.present? %>
    <% @similar_products.each do |product| %>
      <dl>
        <dt><%=link_to image_tag(product.image_url, :size => "86x76"),record_product_path(product), :target => "_blank",:title=>product.title%>
        </dt>
        <dd><%=link_to truncate(product.title,:length => 20, :omission => '...'),record_product_path(product), :target => "_blank",:title=>product.title %>
        </dd>
        <dd class="red"><%= product.price %>元</dd>
      </dl>
    <% end %>
  <% end %>
</div>

<div class="gmA">
  <ul>
    <li>商家</li>
    <li>商品/数量</li>
    <li>价格</li>
    <li>服务</li>

  </ul>
</div>

<div class="gmC">
  <div  class="gm_left">
    <%@brand_type_products.each do |product|%>
      <div class="gm_leftA">
        <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="middle"><%=image_tag(product.merchant.merchantlogo.url(:thumb))%></td>
            </tr>
          </table>
        </ul>
        <ul>
          <li><%=truncate(product.title,:length => 140, :omission => '...')%> </li>

        </ul>
        <ul style="padding-top:15px; margin-left:10px;">
          <li><strong class="gmblack">　<%=product.price%>元 </strong></li>

        </ul>
        <ul style="padding-top:15px;margin-left:5px; ">
          <li><%=raw(product.merchant.service)%></li>

        </ul>
        <ul style="padding-top:35px;margin-left:5px; width:70px">
          <%=link_to image_tag("/images/gm_14.jpg", :size => "70x20"),record_product_path(product), :target => "_blank"%>
        </ul>
      </div>
    <%end%>
    <!--div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_50.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_54.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_57.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_59.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_61.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div><div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_63.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div><div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_65.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_67.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div><div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_69.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_71.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div><div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_73.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_75.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_77.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_79.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_81.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_83.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_85.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div><div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_87.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div><div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_89.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div><div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_91.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_93.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_95.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_97.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_99.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_101.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_103.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_105.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_107.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_109.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div>
    <div class="gm_leftA">
      <ul><table width="135" height="95" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle"><img src="/images/gm_111.jpg" /></td>
          </tr>
        </table>
      </ul>
      <ul>
        <li>诺基亚（Nokia）WCDMA/GSM手机 C7-00（棕色）联通定制机 </li>
        <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="/images/gm_43.jpg" width="78" height="16" /></td>
              <td><span class="g3">4/满分5.0 </span></td>
            </tr>
          </table>
        </li>
        <li class="blue">对商城评论(59个)</li>
      </ul>
      <ul style="padding-top:15px; margin-left:10px;">
        <li>商城价格：<span class="red">　1850.00</span></li>
        <li>易淘比购补贴：<span class="red">50.00</span></li>
        <li>实际购买价：<span class="red"> 1800.00</span></li>
      </ul>
      <ul style="padding-top:15px;margin-left:5px; width:70px">
        <li>正品保障</li>
        <li>货到付款</li>
        <li>免运费</li>
      </ul>
      <ul style="padding-top:35px;margin-left:5px; width:70px"><img src="/images/gm_14.jpg" width="70" height="20" />
      </ul>
    </div-->
  </div>
  <!--div class="gm_right">
    <ul>
      <li><strong>价格筛选：</strong></li>
      <li><img src="/images/gm_40.jpg" /></li>
      <li><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><input type="text" class="G4" value="1400" size="8" /></td>
            <td  style="line-height:30px;">~</td>
            <td><input type="text" class="G4" value="1958" size="8" /></td>
          </tr>
          <tr>
            <td><input name="button" type="button" class="G4" value="确定" /></td>
          </tr>
        </table>
      </li>
      <li></li>
      <li><strong>按购买条件筛选</strong></li>
      <li>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
            <td width="14%"><input name="" type="checkbox" value="" /></td>
            <td width="86%">正牌保障</td></tr></table>
      </li>
      <li>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
            <td width="14%"><input name="" type="checkbox" value="" /></td>
            <td width="86%">无理由退换</td></tr></table>
      </li>
      <li>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
            <td width="14%"><input name="" type="checkbox" value="" /></td>
            <td width="86%">货到付款</td></tr></table>
      </li>
      <li>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
            <td width="14%"><input name="" type="checkbox" value="" /></td>
            <td width="86%">消费清单</td></tr></table>
      </li>
      <li>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>
            <td width="14%"><input name="" type="checkbox" value="" /></td>
            <td width="86%">免运费</td></tr></table>
      </li>
      <li><input name="button" type="button" class="G4" value="确定" /></li>

    </ul>
  </div-->

</div>
<div class="gm_A">
  <ul>
    <li><a href="#c1" target="_self">比价购物</a><a name="#c2" id="#c2"></a></li>
    <li class="blue"><a href="#b22" target="_self">图文描述</a><a name="#b22" id="#b22"></a></li>
    <li><a href="#c33" target="_self">参 数</a><a name="cs0" id="cs0"></a></li>
    <li><a href="#dp3" target="_self">点 评</a><a name="dpp" id="dpp"></a></li>
    <li style="border:none;"><img src="/images/2Promotions_28.jpg" /><a href="#0">顶部</a><a name="1" id="1"></a></li>
  </ul>
</div>
<div class="gmD">
  <%if @jingdong_product.present? %>
    <%=raw(@jingdong_product.desc)%>
  <%end%>
  <!--table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="/images/gm_10.jpg" />&nbsp;</td>
    </tr>
    <tr>
      <td>诺基亚C7-00不仅搭载了Symbian^3操作系统，而且也与诺基亚N8一样支持三页主屏切换，同时除了主页的时钟不能更改外，其余Widgets均可自由加减搭配，最多可显示十六个Widget，并配备有Missed Events Widget以显示未接来电及短信等等内容。

        诺基亚C7-00在功能操作上也支持滑动翻页及一触开启软件，在触控体验上与苹果iPhone及谷歌Android系统手机看齐。由于诺基亚C7-00搭载的是Symbian^3操作系统，所以不仅可以让用户在Ovi商店下载软件，而且也支持以往的Symbian软件，让用户拥有更多的软件选择。至于大家关注的多点触控方面，诺基亚C7-00的相片及网页浏览均支持多点触控，而音乐播放则有点类似苹果的CoverFlow的设计，相比以往的S60第5版触控屏手机更具观赏性。

        值得一提的是，根据消息灵通人士披露的消息，诺基亚C7-00的价格并不算特别昂贵，该机市场价格仅为270欧元（约合人民币2400元左右），要比诺基亚N8的官方价格便宜一百欧元。



      </td>
    </tr>
  </table-->


</div>
<div class="gm_A">
  <ul>
    <li><a href="#c1" target="_self">比价购物</a><a name="c4" id="c4"></a></li>
    <li ><a href="#b22" target="_self">图文描述</a><a name="b23" id="b23"></a></li>
    <li class="blue"><a href="#c33" target="_self">参 数</a><a name="c33" id="c33"></a></li>
    <li><a href="#dp3" target="_self">点 评</a><a name="dp1" id="dp1"></a></li>
    <li style="border:none;"><img src="/images/2Promotions_28.jpg" /><a href="#1" target="_self">顶部</a><a name="2" id="2"></a></li>
  </ul>
</div>
<div class="gmD">
  <%if @jingdong_product.present? %>
    <%=raw(@jingdong_product.standard)%>
  <%end%>

  <!--table width="100%">
    <thead><tr><th colspan="2" class="GG">主体</th>
      </tr></thead>
    <tbody>
      <tr>
        <th align="left" class="GG">主屏尺寸</th>
        <td class="GG">3.5英寸</td>
      </tr>
      <tr>
        <th align="left" class="GG">屏幕颜色</th>
        <td class="GG">26万</td>
      </tr>
      <tr>
        <th align="left" class="GG">储存功能</th>
        <td class="GG">其它存储卡</td>
      </tr>
      <tr>
        <th align="left" class="GG">铃声</th>
        <td class="GG">MP3铃声</td>
      </tr>
      <tr>
        <th align="left" class="GG">上市时间</th>
        <td class="GG">2010年</td>
      </tr>
      <tr>
        <th align="left" class="GG">型号</th>
        <td class="GG">C7-00</td>
      </tr>
      <tr>
        <th align="left" class="GG">操作系统</th>
        <td class="GG">Symbian</td>
      </tr>
      <tr>
        <th align="left" class="GG">网络类型</th>
        <td class="GG">WCDMA(3G)</td>
      </tr>
      <tr>
        <th align="left" class="GG">是否智能手机</th>
        <td class="GG">是</td>
      </tr>
      <tr>
        <th align="left" class="GG">上市月份</th>
        <td class="GG">8月</td>
      </tr>
      <tr>
        <th align="left" class="GG">手机价格区间</th>
        <td class="GG">2001-3000元</td>
      </tr>
      <tr>
        <th align="left" class="GG">摄像头</th>
        <td class="GG">800万</td>
      </tr>
      <tr>
        <th align="left" class="GG">品牌</th>
        <td class="GG">Nokia/诺基亚</td>
      </tr>
      <tr>
        <th align="left" class="GG">高级功能</th>
        <td class="GG">超长待机; MP3播放; JAVA扩展; 收音机; 手写输入; 大屏幕; 蓝牙; 视频播放; GPS; WIFI; 电视播放; 多点触摸</td>
      </tr>
      <tr>
        <th align="left" class="GG">外观样式</th>
        <td class="GG">直板</td>
      </tr>
    </tbody>
  </table--> </div>
<div class="gm_A">
  <ul>
    <li> <a href="#c1" target="_self">比价购物</a><a name="c3" id="c3"></a></li>
    <li ><a href="#b22" target="_self">图文描述</a><a name="b24" id="b24"></a></li>
    <li ><a href="#c33" target="_self">参 数</a><a name="cs" id="cs"></a></li>
    <li class="blue"><a href="#dp3" target="_self">点 评</a><a name="dp3" id="dp3"></a></li>
    <li style="border:none;"><img src="/images/2Promotions_28.jpg" /><a href="#2" target="_self">顶部</a><a name="3" id="3"></a></li>
  </ul>
</div>
<div class="gmD" style="border:1px solid #CCC"><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="10%" align="center"><strong class="hui">平均得分：</strong></td>
      <td width="10%"><img src="/images/gm_43.jpg" /></td>
      <td width="70%" class="gmblack"><%=@average_comments_score%>/满分5.0</td>
      <td width="10%" class="blue">(共<%=@total_comments_count%>个点评) </td>
    </tr>
  </table>
</div>
<div class="gmD">
  <%if @total_comments.present?%>
    <%@total_comments.each do |comment|%>
      <dl><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="23%" align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="54" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td align="right"><img src="/images/gm_43.jpg" width="78" height="16" /> </td>
                  <td align="center"><%=comment.star||0%> </td>
                </tr>
              </table></td>
            <td width="64%"><table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><strong><%=comment.title||""%> </strong></td>
                </tr>
                <tr>

                  <td class="g3"> <%=raw(comment.content||"")%> </td>
                </tr>
              </table></td>
            <td width="13%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
                <tr>
                  <td align="center" class="g3" ><%=raw(comment.author_name) if comment.author_name%> </td>
                </tr>
                <tr>
                  <td align="center" class="g3"> <%=comment.product.merchant.name%> </td>
                </tr>
                <tr>
                  <td align="center" class="g3"><%=comment.publish_at.strftime("%Y-%m-%d %H:%M") if comment.publish_at%> </td>
                </tr>
              </table></td>
          </tr>
        </table>
      </dl>
    <%end%>
  <%end%>
  <!--dl><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="23%" align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="54" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td align="right"><img src="/images/gm_43.jpg" width="78" height="16" /> </td>
              <td align="center">4.0 </td>
            </tr>
          </table></td>
        <td width="64%"><table width="90%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><strong>联通定制机很垃圾，退货很麻烦！-【诺基亚（NOKIA）C7-00 3G手机（棕色）WCDMA/GSM 联通定制】的用户点评 </strong></td>
            </tr>
            <tr>
              <td class="g3">优点：漂亮，时尚</td>
            </tr>
            <tr>
              <td class="g3"> 不足：更换壁纸后收到短信没有声音，也没有震动。恢复成出厂设置后再更换壁纸短信仍没有声音。而且我移动定制的新闻早晚报和天气预报都收不到了，根本就不像客服说的没有任何影响。
                使用心得：昨天刚买的，手机很漂亮，功能也很强大，但就是由于是联通定制机更换壁纸后收到短信没有声音，也没有震动。恢复成出厂设置后再更换壁纸短信仍没有声音。而且我移动的新闻早晚报和天气预报都收不到了，根本就不像客服... </td>
            </tr>
          </table></td>
        <td width="13%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
            <tr>
              <td align="center" class="g3" >xpf0626 </td>
            </tr>
            <tr>
              <td align="center" class="g3"> 京东商城 </td>
            </tr>
            <tr>
              <td align="center" class="g3">2010-12-27 </td>
            </tr>
          </table></td>
      </tr>
    </table>
  </dl>
  <dl><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="23%" align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="54" colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td align="right"><img src="/images/gm_43.jpg" width="78" height="16" /> </td>
              <td align="center">4.0 </td>
            </tr>
          </table></td>
        <td width="64%"><table width="90%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><strong>联通定制机很垃圾，退货很麻烦！-【诺基亚（NOKIA）C7-00 3G手机（棕色）WCDMA/GSM 联通定制】的用户点评 </strong></td>
            </tr>
            <tr>
              <td class="g3">优点：漂亮，时尚</td>
            </tr>
            <tr>
              <td class="g3"> 不足：更换壁纸后收到短信没有声音，也没有震动。恢复成出厂设置后再更换壁纸短信仍没有声音。而且我移动定制的新闻早晚报和天气预报都收不到了，根本就不像客服说的没有任何影响。
                使用心得：昨天刚买的，手机很漂亮，功能也很强大，但就是由于是联通定制机更换壁纸后收到短信没有声音，也没有震动。恢复成出厂设置后再更换壁纸短信仍没有声音。而且我移动的新闻早晚报和天气预报都收不到了，根本就不像客服... </td>
            </tr>
          </table></td>
        <td width="13%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
            <tr>
              <td align="center" class="g3" >xpf0626 </td>
            </tr>
            <tr>
              <td align="center" class="g3"> 京东商城 </td>
            </tr>
            <tr>
              <td align="center" class="g3">2010-12-27 </td>
            </tr>
          </table></td>
      </tr>
    </table>
  </dl-->
</div>

