<%= render 'base' %>
<div id="adminpanel_friend_link" class="form">

  <%= simple_form_for(@friend_link,:url =>  adminpanel_friend_links_path) do |f| %>

    <%= render "/shared/error_messages", :target => @friend_link %>

    <div class="inputs">
      <%= f.label :title,"标题" %><br/>
      <%= f.text_field :title %><br/>

      <%= f.label :desc,"内容" %><br/>
      <%=  f.ckeditor :desc, :label => false, :input_html => { :toolbar => 'Full' }%><br/>

 

    </div>
    <div class="actions">
      <button type="submit">提交</button>
      或者 <%= link_to '返回', adminpanel_friend_links_path %>
    </div>
  <% end %>
</div>
