

<%= render 'base' %>
<div id="adminpanel_product" class="form">
  <%if params[:from]=="merchant"%>
    <%= simple_form_for(@product,:url =>  adminpanel_merchant_products_path(@merchant_id,:from=>"merchant")) do |f| %>

      <%= render "/shared/error_messages", :target => @product %>

      <div class="inputs">
        <%= f.label :title,"商品名称" %><br/>
        <%= f.text_field :title %><br/>

        <%= f.label :desc,"商品简介" %><br/>
    <%#= f.text_area :desc %>
        <%=  f.ckeditor :desc, :label => false, :input_html => { :toolbar => 'Full' }%><br/>
        <%= f.label :price,"价格" %><br/>
        <%= f.text_field :price %><br/>

        <%= f.label :image_url,"商品图片地址" %><br/>
        <%= f.text_field :image_url %><br/>

    <%#= f.label :product_url,"商品链接" %><br/>
    <%#= f.text_field :product_url %><br/>

        <%= f.label :product_code,"商品代码" %><br/>
        <%= f.text_field :product_code %><br/>

        <%= f.label :top_product,"一级分类" %><br/>
        <%= collection_select( :top_product,:top_product,@top_products,:id,:name , {:include_blank => '请选择'},{:onchange=>"javascript:filter_middle_product(this.value)"})%><br/>


        <%= f.label :middle_product,"二级分类" %><br/>
        <%= collection_select( :middle_product,:top_product,@middle_products,:id,:name , {:include_blank => '请选择'},{:onchange=>"javascript:filter_end_product($('#top_product_top_product').find('option:selected').val(),this.value)"})%><br/>

        <%= f.label :end_product,"三级分类" %><br/>
        <%= f.collection_select( :end_product,@end_products,:id,:name , {:include_blank => '请选择'})%><br/>

        <%= f.label :brand,"品牌" %><br/>
        <%= f.collection_select( :brand,@brands,:id,:name , {:include_blank => '请选择'},{:onchange=>"javascript:filter_brand_type(this.value)"})%><br/>

        <%= f.label :brand_type,"品牌款型" %><br/>
        <%= f.collection_select( :brand_type,@brand_types,:id,:name , {:include_blank => '请选择'})%><br/>

      </div>
      <div class="actions">
        <%=submit_tag "提交",:onclick=>"javascript:return check_end_cate();"%>

        或者

        <%= link_to '返回', adminpanel_merchant_products_path(@merchant_id) %>

      </div>
    <%end%>
  <%elsif params[:from]=="end_product"%>
    <%= simple_form_for(@product,:url =>  adminpanel_top_product_middle_product_end_product_products_path(@top_product,@middle_product,@end_product,:from=>"end_product")) do |f| %>


      <%= render "/shared/error_messages", :target => @product %>

      <div class="inputs">
        <%= f.label :title,"商品名称" %><br/>
        <%= f.text_field :title %><br/>

        <%= f.label :desc,"商品简介" %><br/>
    <%#= f.text_area :desc %>
        <%=  f.ckeditor :desc, :label => false, :input_html => { :toolbar => 'Full' }%><br/>
        <%= f.label :price,"价格" %><br/>
        <%= f.text_field :price %><br/>

        <%= f.label :image_url,"商品图片地址" %><br/>
        <%= f.text_field :image_url %><br/>

    <%#= f.label :product_url,"商品链接" %><br/>
    <%#= f.text_field :product_url %><br/>

        <%= f.label :product_code,"商品代码" %><br/>
        <%= f.text_field :product_code %><br/>

        <%#= f.label :top_product,"一级分类" %><br/>
        <%#= collection_select( :top_product,:top_product,@top_products,:id,:name , {:include_blank => '请选择'},{:onchange=>"javascript:filter_middle_product(this.value)"})%><br/>


        <%#= f.label :middle_product,"二级分类" %><br/>
        <%#= collection_select( :middle_product,:top_product,@middle_products,:id,:name , {:include_blank => '请选择'},{:onchange=>"javascript:filter_end_product($('#top_product_top_product').find('option:selected').val(),this.value)"})%><br/>

        <%#= f.label :end_product,"三级分类" %><br/>
        <%#= f.collection_select( :end_product,@end_products,:id,:name , {:include_blank => '请选择'})%><br/>
        <%= f.label :merchant,"商家" %><br/>
        <%= f.collection_select( :merchant,@merchants,:id,:name , {:include_blank => '请选择'})%><br/>

        <%= f.label :brand,"品牌" %><br/>
        <%= f.collection_select( :brand,@brands,:id,:name , {:include_blank => '请选择'},{:onchange=>"javascript:filter_brand_type(this.value)"})%><br/>

        <%= f.label :brand_type,"品牌款型" %><br/>
        <%= f.collection_select( :brand_type,@brand_types,:id,:name , {:include_blank => '请选择'})%><br/>

      </div>
      <div class="actions">
        <%=submit_tag "提交",:onclick=>"javascript:return check_end_cate();"%>

        或者

        <%= link_to '返回', adminpanel_top_product_middle_product_end_product_products_path(@top_product,@middle_product,@end_product) %>

      </div>
    <%end%>
  <% end %>
</div>
