<%= render 'base' %>
<div id="adminpanel_company_profile" class="form">
  <%= simple_form_for(@company_profile,
    :url =>  adminpanel_company_profile_path(@company_profile) ) do |f| %>
    <%= render "/shared/error_messages", :target => @company_profile %>

    <div class="inputs">
      <%= f.label :title,"标题" %><br/>
      <%= f.text_field :title %><br/>

      <%= f.label :desc,"内容" %><br/>
      <%=  f.ckeditor :desc, :label => false, :input_html => { :toolbar => 'Full' }%><br/>

    </div>
    <div class="actions">
      <button type="submit">提交</button>
      或者 <%= link_to '返回', adminpanel_company_profiles_path %>
    </div>
  <% end %>
</div>
